/* Переменные */
:root{
    --ferst-color:#757575;
    --second-color:#212121; 
    --style-color:#2196F3;
    --style-color-after: #1d80d1;
    --font-ferst: 'Roboto', sans-serif;
    --footer-bg: #2F303A;
}
/* конец переменные */
body{
    font-family: var(--font-ferst);
    padding: 0;
    margin: 0;
}
*{
box-sizing: border-box;
}
ul{
    list-style: none;   
}
a{
    text-decoration: none;
}
.hidden_h1{
    display: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Дополнительные классы */
a.action{
    color:var(--style-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.action::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--style-color);
    bottom: 0px;
    
    
}
a.bg {
    background: var(--style-color);
    color: #fff;
}
/* Открываю header */
/* Открываю header */
header{
    border-bottom: 1px solid #EEEEEE;
}
.header-page{
    display: flex;
    align-items: center;
}

.logo-link{
    color: var(--style-color);
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
}
.logo-text{
    color: var( --second-color);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.list-link {
    color: var(--second-color);
    font-weight: 500;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-link:hover{
    color: var(--style-color);
}
.list > li{
    position: relative;
    
}
.list > li:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--style-color);
    bottom: 0px;
    opacity: 0;
    
}


.header-link{
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}
.header-tel {
    display: block;
    color: var(--ferst-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-right: 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link > li:first-child{
    margin-right: 50px;
    
}
.header-mail{
    display: block;
    color: var(--ferst-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.right-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right-link:hover .icon-right{
    fill: var(--style-color);
}
.icon-right{
    display: block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-right-resize{
    width: 10px;
    height: 16px;
}


.header-mail:hover, .header-tel:hover{
    color: var(--style-color);
}
.list{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.list > li{
    margin-right: 50px;
}
.list > li:last-child{
    margin-right: 0px;
}
/* Конец header */
/* Конец header */


/* Открываю main */
.section{
   padding-top: 94px;
   padding-bottom: 94px;
}
.filter-list{
    padding: 0;
    display: flex;
    margin: 0px;
    justify-content: center;
}
.filter-list > li {
    margin-right: 8px;
}
.filter-list > li:last-child{
    margin-right: 0px;
}
.filter-box{
    display: flex;
    justify-content: center;
}
.filter-box > h1 {
    display: none;
}
.filter-link{
    color:var(--second-color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding: 6px 22px 6px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    transition: background-color 2503ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.action-link{
    background-color: #F5F4FA;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 260ms cubic-bezier(0.4, 0, 0.2, 1);
}
.action-link:hover{
    color:#fff;
    background:var(--style-color);
    cursor:pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.page-cards{
    margin: 0px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.page-topbox{
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.page-items{
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    margin-right: 30px;
    transition: 250ms;
}
.pageitems-link{
    width: 100%;
    height: 100%;
    display: block;
}
.pageitems-link:hover, pageitems-link:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: .3s;
}
.boxing-img{
    position: relative;
    overflow: hidden;
}

.boxing-img:before{
    content: '';
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-items:hover .boxing-img:before{
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;
}
.boxing-text{
    position: absolute;
    top:0;
    left:0;
    padding: 64px 24px 64px 24px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    letter-spacing: 0.03em;
    line-height: 28px;
    margin: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.page-items:hover .boxing-text{
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;
}
.page-items img {
    display: block;
}
.page-items:nth-child(3n){
    margin-right: 0px;
}
.page-items:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.page-title{
    margin: 0px;
    padding: 0px;
    color: var(--second-color);
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    
}
.page-text{
    margin: 0px;
    color: var(--ferst-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 4px;
}
.filter > h1{
    display: none;
}

/* Закрываю main */

/* Открываю footer */
footer{
    background: var(--footer-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}
.flex{
    display: flex;
    align-items: baseline;
}
.reset-margin{
    margin: 0;
}
.address-footer{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-top: 20px;
}

.ft-color{
    color:#fff;
}
.address-footer p{
    font-style: normal;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
}
.address-footer  a {
    color: #fff;
    opacity: 60%;
    font-style: normal;
}
.footer-link{
    padding: 0;
    margin:0;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 9px;
}
.footer-link > li:last-child{
    margin-top: 9px;
}

.footer-mail, .footer-tel{
    display: block;
    color: var(--ferst-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;;
}
.social-block{
    font-size: 14px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-social{
    margin-left: 70px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 16px;
    padding: 0;
}
.footer-icon > li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width:44px;
    height: 44px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.teamicon-link{
    padding: 0px;
    margin: 0px;
}
.footer-icon > li:hover .icon-team {
    fill: #EEEEEE
}
.footer-icon > li:hover{
    background-color: var(--style-color);
}
.icon-team{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscription{
    margin-left: 93px;
}
.footer-form > input {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
    padding-left: 16px;
    border-radius: 4px;
    background:#2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-button{
    border-radius: 4px;
    background-color: var(--style-color);
    color: #EEEEEE;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover{
    background-color: var(--style-color-after);
}
.footer-form{
    margin-top: 20px;
}
/* Закрываю footer */

